<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div id="placeholder" class="carousel-inner">
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
    var venueId = window.location.pathname.split("/").pop();
    var url = window.location.origin + '/venue/pictures/' + venueId;

    function createPictures(pictures) {
        var firstPicture = true;
        for (var picture of pictures) {
            if (firstPicture) {
                var imgTag = '<div class="item active"><a target="_blank" href=' + picture + '><img src="' + picture + '" class="img-responsive carousel-image" /></a></div>';
                $(placeholder).append(imgTag);
                firstPicture = false;
            } else {
                var imgTag = '<div class="item"><a target="_blank" href=' + picture + '><img src="' + picture + '" class="img-responsive carousel-image" /></a></div>';
                $(placeholder).append(imgTag);
            }
        }
    }

    $.post(url, function(response) {
        createPictures(response.pictures);
    }, 'json');

</script>
