.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#myCarousel {
    background-color: black;
    width: 320px;
    height: 240px;
}

.carousel-image {
    display: block;
    margin: 0 auto;
    max-height: 240px;
    max-width: 100%;
}

body {
    background-image: url('../img/2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    background-color: #f9fbe7;
    border-radius: 4px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fd487c;
}

.white {
    color: white;
}

label {
    background: white;
}

.fancy {
    display: inline-block;
    font-family: 'Codystar', cursive;
    font-size: 60px;
    color: #fd487c;
    background: rgba(0, 0, 0, .7);
}

.handwrite {
    font-family: 'Bad Script', cursive;
}

.backlight {
    margin-left: 21%;
    margin-right: 21%;
    padding-bottom: 8px;
    background: rgba(0, 0, 0, .7);
}

.transparent {
    background: rgba(0, 0, 0, .7);
}

.remove:hover {
    background: rgba(0, 0, 0, .5);
    color: red;
}

.navbar-default .navbar-nav > li > a {
    color: #777777;
}

.navbar-default {
    background-color: rgba(0, 0, 0, .7);
    border-color: palevioletred;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    /* background-color: #E7E7E7; */
    background-color: rgba(0, 0, 0, .9);
    color: palevioletred;
}

.form-control {
    color: white;
    border: 1px solid palevioletred;
    background-color: rgba(0, 0, 0, .8);
}

.input-group-addon {
    color: palevioletred;
    background-color: #333131;
}

address {
    margin-bottom: 0px;
}

.glyphicon-map-marker {
    font-size: 18px;
    color: #F24944;
}

.glyphicon-phone {
    font-size: 18px;
    color: dodgerblue;
}

.glyphicon-star-empty {
    font-size: 18px;
    color: gold;
}

.navbar-default .navbar-brand {
    color: palevioletred;
}

.modal-content {
   background-color: #630303;
}
