body {
    font-family: 'Lato', sans-serif;
    background-image: url(../img/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-default {
    background-color: rgba(0, 0, 0, .7);
    border-color: #D87093;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, .9);
    color: #D87093;
}

.navbar-default .navbar-brand {
    color: #D87093;
}

.navbar-default .navbar-brand:hover {
    color: #d1f2d8;
}

.card {
    background-color: #f9fbe7;
    border-radius: 4px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fd487c;
}

.img-responsive {
    margin: auto;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#venue-carousel {
    background-color: #000;
    width: 320px;
    height: 240px;
}

.carousel-image {
    display: block;
    max-height: 240px;
    max-width: 100%;
    margin: 0 auto;
}

label {
    color: #FFF;
    background: rgba(0, 0, 0, .7);
}

.fancy {
    display: inline-block;
    font-family: Codystar, cursive;
    font-size: 60px;
    color: #fd487c;
    background: rgba(0, 0, 0, .7);
}

.handwrite {
    font-family: 'Bad Script', cursive;
}

.backlight {
    margin-left: 21%;
    margin-right: 21%;
    padding-bottom: 8px;
    background: rgba(0, 0, 0, .7);
}

.transparent {
    background: rgba(0, 0, 0, .7);
}

.remove:hover {
    background: rgba(0, 0, 0, .5);
    color: red;
}

.form-control {
    color: #FFF;
    border: 1px solid #D87093;
    background-color: rgba(0, 0, 0, .8);
}

.input-group-addon {
    color: #D87093;
    background-color: #333131;
}

address {
    margin-bottom: 0;
}

.glyphicon-map-marker {
    font-size: 18px;
    color: #F24944;
}

.glyphicon-phone {
    font-size: 18px;
    color: #1E90FF;
}

.glyphicon-star-empty {
    font-size: 18px;
    color: #FFD700;
}

.glyphicon-exclamation-sign {
    font-size: 24px;
}

.modal-content {
    background-color: #630303;
}

.btn-fancy {
    color: #FFF;
    background-color: #ee4969;
    border-color: #a87a9c;
}

.btn-fancy:hover, .btn-fancy:focus, .btn-fancy:active {
    color: #FFF;
    background-color: #6544ec;
    border-color: #2b1a29;
}

/* Prevent Bootsrap button blue color on mousedown in search results */
.btn-fancy:active:hover {
    background-color: #6544ec;
}

.table-url:hover {
    color: #ffdf00;
    background-color: #190c25;
}

.navbar-default .navbar-nav > li > a,
.white {
    color: #FFF;
}

#fail-alert {
    font-size: 20px;
    border: 1px solid red;
}

/* Change Chrome default form filler pale yellow color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
    border: 1px solid #ee4969;
    -webkit-text-fill-color: white;    
    transition: background-color 5000s ease-in-out 0s;
}

.invisible {
  visibility: hidden;
}
